.content-wrapper {
    margin: 2em 5em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2em;
    .results-wrapper {
        .interaction-wrapper {
            display: flex;
            justify-content: space-between;
            margin: 1em;
            .sort-wrapper {
                display: flex;
                gap: 0.5em;
                align-items: center;
                button {
                    @include button-styling;
                }
            }
            .pagination-wrapper {
                display: flex;
                gap: 1em;
                select {
                    @include input-styling;
                }
                .pagination {
                    margin-bottom: 0;
                }
            }
        }
        .results {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: center;
            gap: 1em;
            a {
                text-decoration: none;
                color: $black;
            }
            .card-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                .image-wrapper {
                    img {
                        height: 10em;
                        width: 10em;
                    }
                }
            }
        }
    }
    .filter-wrapper {
        form {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            .inputs-wrapper {
                display: flex;
                flex-direction: column;
                gap: 0.25em;
                .select-field-wrapper {
                    display: grid;
                    grid-template-columns: 5em 10em;
                    select {
                        @include input-styling;
                        width: 100%;
                    }
                }
            }

            .buttons-wrapper {
                display: flex;
                gap: 0.5em;
                button {
                    @include button-styling;
                }
            }
        }
    }
}
